<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" id="nav-logo-container" href="/"><img src="/images/property-pal-logo-horiz.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-primary topnav-btn" id="clientLogIn">Log in</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-success topnav-btn" id="ownerLogIn">Owner log in</button>
            </li>
            <li class="nav-item">
                <a href="/admin"><button type="button" class="btn btn-secondary topnav-btn">Administrator</button></a>
            </li>
        </ul>
    </div>
</nav>

<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Site administrator's page</h2>
            <p>Here the administrator can manage the users, owners and properties.</p>
        </div>
    </div>
    <hr>
    <div class="alert alert-primary" role="alert">
        Users
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** User 1 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** User 2 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** User 3 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <hr>
    <div class="alert alert-success" role="alert">
        OWNERS
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Owner 1 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Owner 2 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Owner 3 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <hr>
    <div class="alert alert-success" role="alert">
        Properties
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 1 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 2 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 3 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/client"><button type="button" class="btn btn-primary">User</button></a>
            <a href="/owner"><button type="button" class="btn btn-success">Owner</button></a>
            <a href="/admin"><button type="button" class="btn btn-secondary">Administrator</button></a>
        </div>
    </div>
</section>