<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Client's Page</h2>
            <p>Here the user will see his/her info and would be able to edit information as well as see favorites.</p>
        </div>
    </div>
    <hr>
    <div class="alert alert-primary" role="alert">
        Here are your favourites!
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 1 *****
            <a href="/client"><button type="button" class="btn btn-danger">DELETE FAVOURITE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 2 *****
            <a href="/client"><button type="button" class="btn btn-danger">DELETE FAVOURITE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 3 *****
            <a href="/client"><button type="button" class="btn btn-danger">DELETE FAVOURITE</button></a>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/client"><button type="button" class="btn btn-primary">User</button></a>
            <a href="/owner"><button type="button" class="btn btn-success">Owner</button></a>
            <a href="/admin"><button type="button" class="btn btn-secondary">Administrator</button></a>
        </div>
    </div>
</section>