<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img src="/images/propertyPal03.png" alt="" width="250" class="mb-5 mt-5">

            <h2>Landing page</h2>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary">User</button>

            <button type="button" class="btn btn-success">Owner</button>

            <button type="button" class="btn btn-secondary">Manager</button>
        </div>
    </div>
    <hr>
</section>