<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img src="/images/propertyPal03.png" alt="" width="250" class="mb-5 mt-5">

            <h2>Landing page</h2>

            <form class="form-inline mt-2 mt-md-0 mt-5">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/client"><button type="button" class="btn btn-primary">User</button></a>
            <a href="/owner"><button type="button" class="btn btn-success">Owner</button></a>
            <a href="/admin"><button type="button" class="btn btn-secondary">Administrator</button></a>
        </div>
    </div>
    <hr>
</section>