<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Owner's page</h2>
            <p>Here the owner can see his-her properties.</p>
        </div>
    </div>
    <hr>
    <div class="alert alert-success" role="alert">
        Here are your properties
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 1 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 2 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            ***** Property 3 *****
            <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
            <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/client"><button type="button" class="btn btn-primary">User</button></a>
            <a href="/owner"><button type="button" class="btn btn-success">Owner</button></a>
            <a href="/admin"><button type="button" class="btn btn-secondary">Administrator</button></a>
        </div>
    </div>
</section>